In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data (1).csv')

In [4]:
data.head()

,label,msisdn,Noan,daily_spent_1m,daily_spent_5m,Avg_main_bal_1m,Avg_main_bal_5m,last_rech_date_ma,incoming_call,last_rech_amt_ma,...,cnt_bal_rec_1m,Tot_bal_rec1m,maxmnt_bal_rec1m,med_bal_rec1m,cnt_bal_5m,Tot_bal_rec5m,maxmnt_bal_rec5m,med_bal_rec5m,avg_tra_bal_1m,avg_tra_bal_5m
0,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,1539,...,2,12,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000
1,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,5787,...,1,12,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000
2,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,1539,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000
3,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,947,...,2,12,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000
4,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,2309,...,7,42,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333

In [8]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(data)

,label,msisdn,Noan,daily_spent_1m,daily_spent_5m,Avg_main_bal_1m,Avg_main_bal_5m,last_rech_date_ma,incoming_call,last_rech_amt_ma,Time_ma_rech_1m,Fr_ma_rech_1m,Tot_ma_rech_1m,med_amnt_ma_rech_1m,med_rech_rechprebal_1m,Time_ma_rech5m,Fr_ma_rech_5m,Tot_ma_rech_5m,med_amt_ma_rech_5m,med_amt_rechprebal5m,num_Times_smssent_1m,fr_incoming_call_1m,outgoing_call_5m,fr_outgoing_call_5m,cnt_bal_rec_1m,Tot_bal_rec1m,maxmnt_bal_rec1m,med_bal_rec1m,cnt_bal_5m,Tot_bal_rec5m,maxmnt_bal_rec5m,med_bal_rec5m,avg_tra_bal_1m,avg_tra_bal_5m
0,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,1539,2,21.0,3078,1539.0,7.50,2,21,3078,1539.0,7.50,0.0,0.0,0,0,2,12,6.0,0.0,2.0,12,6,0.0,29.0,29.0
1,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,5787,1,0.0,5787,5787.0,61.04,1,0,5787,5787.0,61.04,0.0,0.0,0,0,1,12,12.0,0.0,1.0,12,12,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202962,1,15083I90584,61.0,43.088000,43.088000,1920.00,1920.00,0.0,0.0,0,0,0.0,0,0.0,0.00,0,0,0,0.0,0.00,0.0,0.0,0,0,1,6,6.0,0.0,1.0,6,6,0.0,0.0,0.0
202963,1,72838I84457,1286.0,43.582333,43.582333,1334.33,1334.33,1.0,0.0,773,6,3.0,6186,773.0,95.60,7,3,10253,773.0,122.60,0.0,0.0,0,0,2,12,6.0,0.0,2.0,12,6,0.0,0.0,0.0

In [9]:
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(data)

,label,msisdn,Noan,daily_spent_1m,daily_spent_5m,Avg_main_bal_1m,Avg_main_bal_5m,last_rech_date_ma,incoming_call,last_rech_amt_ma,Time_ma_rech_1m,Fr_ma_rech_1m,Tot_ma_rech_1m,med_amnt_ma_rech_1m,med_rech_rechprebal_1m,Time_ma_rech5m,Fr_ma_rech_5m,Tot_ma_rech_5m,med_amt_ma_rech_5m,med_amt_rechprebal5m,num_Times_smssent_1m,fr_incoming_call_1m,outgoing_call_5m,fr_outgoing_call_5m,cnt_bal_rec_1m,Tot_bal_rec1m,maxmnt_bal_rec1m,med_bal_rec1m,cnt_bal_5m,Tot_bal_rec5m,maxmnt_bal_rec5m,med_bal_rec5m,avg_tra_bal_1m,avg_tra_bal_5m
0,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,1539,2,21.0,3078,1539.0,7.50,2,21,3078,1539.0,7.50,0.0,0.0,0,0,2,12,6.0,0.0,2.0,12,6,0.0,29.0,29.0
1,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,5787,1,0.0,5787,5787.0,61.04,1,0,5787,5787.0,61.04,0.0,0.0,0,0,1,12,12.0,0.0,1.0,12,12,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202962,1,15083I90584,61.0,43.088000,43.088000,1920.00,1920.00,0.0,0.0,0,0,0.0,0,0.0,0.00,0,0,0,0.0,0.00,0.0,0.0,0,0,1,6,6.0,0.0,1.0,6,6,0.0,0.0,0.0
202963,1,72838I84457,1286.0,43.582333,43.582333,1334.33,1334.33,1.0,0.0,773,6,3.0,6186,773.0,95.60,7,3,10253,773.0,122.60,0.0,0.0,0,0,2,12,6.0,0.0,2.0,12,6,0.0,0.0,0.0

In [20]:
X = data.iloc[:,1:]
Y = data.iloc[:, 0]

In [21]:
X.shape

(202964, 33)

In [22]:
X.head()

,msisdn,Noan,daily_spent_1m,daily_spent_5m,Avg_main_bal_1m,Avg_main_bal_5m,last_rech_date_ma,incoming_call,last_rech_amt_ma,Time_ma_rech_1m,...,cnt_bal_rec_1m,Tot_bal_rec1m,maxmnt_bal_rec1m,med_bal_rec1m,cnt_bal_5m,Tot_bal_rec5m,maxmnt_bal_rec5m,med_bal_rec5m,avg_tra_bal_1m,avg_tra_bal_5m
0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,1539,2,...,2,12,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000
1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,5787,1,...,1,12,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000
2,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,1539,1,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000
3,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,947,0,...,2,12,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000
4,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,2309,7,...,7,42,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333